[submodule "djangoexample"]
	path = djangoexample
	url = git@github.com:TakesxiSximada/djangoexample.git
[submodule "spoiload"]
	path = spoiload
	url = git@bitbucket.org:takesxi_sximada/spoiload.git
[submodule "dropsaws"]
	path = dropsaws
	url = git@github.com:TakesxiSximada/dropsaws.git
